[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside2 = "==5.12.1"
SQLAlchemy = ">=1.3.0"
pandas = "*"
openpyxl = "*"
xlsxwriter = "*"

[dev-packages]

[requires]
python_version = "3.7"
