[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside2 = "==5.12.1"
sqlalchemy = "==1.2.17"
pandas = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.7"
